/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMPORT DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* VARIÁVEIS DE CORES */
:root {
  --cor-primaria: #243650;
  --cor-secundaria: #f4bb1d;
  --cor-terciaria: #415b75;
  --cor-primaria-bg: #0d111c;
  --cor-secundaria-bg:#1a202c;
  --cor-table-bg: #2d3748;
  --cor-primaria-fonte: #ffffffd9;
  --cor-secundaria-fonte: #aebacd;
  --cor-links: #3498db;
  --cor-article-bg: #28303d;
}

/* ESTILIZAÇÕES GERAIS */
body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--cor-primaria-bg);
  color: var(--cor-primaria-fonte);
  line-height: 1.6;
}

/* --- FEATURE-CARDS (Simplificado) --- */

  .shop {
      display: grid;
      grid-template-columns: 320px 1fr; 
      gap: 3rem;
      max-width: 80vw;
      margin: 4rem auto;
      padding: 0 2rem;
      align-items: start;
  }

  /* --- SIDEBAR--- */
    .sidebar-filters {
        background-color: var(--cor-secundaria-bg);
        padding: 2rem;
        border-radius: 8px;
        position: sticky;
        top: 2rem;
    }

    .sidebar-filters h3 {
        margin-bottom: 1.5rem;
        border-bottom: 2px solid var(--cor-secundaria);
        display: inline-block;
    }

    .links {
        list-style: none;
        padding-left: 1rem;
    }

    .links a {
        text-decoration: none;
        color: var(--cor-secundaria-fonte);
        display: block;
        padding: 0.5rem 0;
    }

    .links a:hover { color: var(--cor-links); }

    

    /* Tags de Form na sidebar-filters */
    fieldset {
      border: none;
      padding: 0;
      margin: 0; 
    }

    legend { 
      color: var(--cor-secundaria);
      margin-bottom: 0.5rem; 
    }

    input[type="range"] {
      width: 100%;
      margin: 1rem 0;
    }

    /* Depoimento (Article) */
    .review {
      margin-top: 2rem;
      padding: 1rem;
      background-color: var(--cor-primaria);
      border-left: 3px solid var(--cor-secundaria);
      font-style: italic;
    }

    .review cite { 
      font-weight: bold;
      color: var(--cor-secundaria);
      font-style: normal; 
    }
  
  /* --- SIDEBAR EXTRA (Atendimento & Mapa) --- */

    .sidebar-extra {
        margin-top: 0.5rem;
        padding-top: 2rem;
        border-top: 1px solid var(--cor-borda); 
    }

    .sidebar-extra h5 {
        font-size: 1.6rem;
        color: var(--cor-secundaria);
        margin-bottom: 0.5rem;
    }

    .sidebar-extra h6 {
        font-size: 1.2rem;
        color: var(--cor-secundaria-fonte);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: normal;
    }

    /* Inputs do Forms Lateral */
    
    form input,
    .sidebar-extra select,
    .sidebar-extra textarea {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
        background-color: var(--cor-primaria-bg);
        border: 1px solid var(--cor-borda);
        border-radius: 8px;
        color: var(--cor-primaria-fonte);
        font-family: inherit;
    }

    .sidebar-extra select:focus,
    .sidebar-extra textarea:focus {
        outline: none;
        border-color: var(--cor-secundaria);
    }

  /* --- GRID DE PRODUTOS --- */
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2rem;
    }

    /* --- CARD --- */
      .card {
        background-color: var(--cor-article-bg);
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
      }

      .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      }

      .card-image {
        position: relative;
        height: 200px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      
      .card-image img {
        max-width: 50%;
        max-height: 80%;

        object-fit: contain;
        object-position: center;
      }

      .tag mark {
        position: absolute;
        top: 10px; right: 10px;
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria-bg);
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: bold;
      }

      .info {
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .info h3 {
        margin-bottom: 0.5rem; 
      }

      .desc { 
        font-size: 1rem;
        color: var(--cor-secundaria-fonte);
        margin-bottom: 0.6rem; 
      }

    /* Preço */
      .price {
          margin-top: auto;
          margin-bottom: 1rem;
      }
      .price del { 
        display: block;
        color: var(--cor-secundaria-fonte);
        font-size: 1.3rem; 
      }

      .price strong { 
        display: block;
        font-size: 2rem;
        color: var(--cor-secundaria); 
      }
      .price small { 
        color: var(--cor-secundaria-fonte); 
        font-size: 1.1rem; 
      }

    /* Botão */
      .btn, .btn a {
        width: 100%;
        padding: 1rem;

        background-color: var(--cor-links);
        color: var(--cor-primaria-fonte);

        border: none;
        border-radius: 4px;

        font-size: 1.2rem;
        font-weight: bold;

        cursor: pointer;

        text-align: center;
        text-decoration: none;
      }

      .btn:hover { 
        background-color: #2c82c0;
      }


    /* Estoque e Timer */
    
    .timer {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }

    .stock{
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }

    meter {
      width: 100%;
      height: 6px;
      display: block;
      margin: 6px 0; 
    }

    /* TABELA | BLACK FRIDAY */
      .black-friday-guide {
        grid-column: 1 / -1; 
        margin-top: 4rem;
        overflow-x: auto; 
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }

      table {
          width: 100%;
          border-collapse: collapse;
          background-color: #1a202c; 
          color: var(--cor-primaria-fonte);
          font-size: 1.4rem;
      }

      caption {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria-bg);
        padding: 1.5rem;
        font-weight: 800;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .col-category { width: 40%; }
      .col-discount { width: 25%; }
      .col-details { width: 35%; }

      th, td {
        padding: 1.5rem;
        text-align: left;
        border-bottom: 1px solid var(--cor-table-bg);
      }

      th {
        background-color: #171923;
        color: var(--cor-secundaria);
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }

      tbody tr:nth-child(even) {
        background-color: #232936;
      }


      tbody tr:hover {
        background-color: var(--cor-table-bg);
        transition: background 0.2s;
      }


      .highlight {
        color: #48bb78;
        font-weight: bold;
        font-size: 1.6rem;
      }

      tfoot td {
        font-size: 1.1rem;
        text-align: center;
        color: var(--cor-secundaria-fonte);
        padding: 1rem;
        background-color: #171923;
        font-style: italic;
      }


      